* {
    font-family: helvetica, arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

#container {
    width: 100%;
    background-color: white;
}

#header {
    background-color: teal;
    color: white;
    padding-top: 5px;
    text-align: center;
    border-bottom: black 2px solid;
}

    #profilepic {
        margin: auto;
        display: block;
        width: 250px;
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 50px;
    }

    #header p{
        margin-bottom: 20px;
        font-size: 20px;
    }

    .icons {
        display: inline-block;
        width: 50px;
        margin: 20px 30px;
}

#maincontent {
    padding: 30px 50px;
}

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    #maincontent p {
        width: 600px;
        line-height: 150%;
        margin-bottom: 20px;
    }

    #maincontent a {
        text-decoration: none;
    }
